@import url("https://fonts.googleapis.con/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
}

body.active {
    background: #f43648;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.blue-background {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.blue-background .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blue-background .box h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blue-background .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.form-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.form-box .signin-form {
    transition-delay: 0.25s;
}

.form-box .signup-form {
    left: 100%;
    transition-delay: 0s;
}

.form-box.active {
    left: 50%;
}

.form-box.active .signin-form {
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .signup-form {
    left: 0;
}

.form-box .form {
    position: absolute;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.form-box .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-box .form form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.form-box .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}

.form-box .form form input[type="submit"] {
    color: #fff;
    background: #03a9f4;
    border: none;
    max-width: 100px;
    cursor: pointer;
}

.form-box.form-box.active .signup-form input[type="submit"] {
    background: #f43648;
}

.forget {
    color: #333;
}

@media (max-width: 991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .blue-background {
        top: 0;
        height: 100%;
    }

    .form-box {
        top: 0;
        width: 100%;
        height: 500px;
        box-shadow: none;
    }

    .blue-background .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .box.signin {
        top: 0;
    }
    
    .form-box.active {
        left: 0;
        top: 150px;
    }
}
