@import url("https://fonts.googleapis.con/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #25252b;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 200px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    transition: 0.5s;
}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    animation-delay: -1s;
}

.box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
}

.box:hover {
    width: 400px;
    height: 500px;
}

@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotating {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    inset: 60px;
    z-index: 100;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: inset 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    overflow: hidden;
}

.box:hover .login {
    inset: 40px;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 70%;
    transform: translateY(120px);
    transition: 0.5s;
}

.box:hover .login-box {
    transform: translateY(0px);
}

.login-box h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.login-box h2 i {
    color: #ff2770;
    text-shadow: 0 0 5px #ff2770, 0 0 25px #ff2770;
}

.login-box input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 30px;
}

.login-box input::placeholder {
    color: #999;
}

.login-box input[type="submit"] {
    background: #45f3ff;
    border: none;
    font-weight: 500;
    color: #111;
    cursor: pointer;
    transition: 0.5s;
}

.login-box input[type="submit"]:hover {
    box-shadow: 0 0 10px #45f3ff, 0 0 60px #45f3ff;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group a {
    color: #fff;
    text-decoration: none;
}

.group a:nth-child(2) {
    color: #ff2770;
    font-weight: 600;
}
